<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <economix_usersnap>
            <configuration>
                <enable>0</enable>
                <project_api_key>xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</project_api_key>
                <enable_frontend>0</enable_frontend>
                <enable_backend>0</enable_backend>
            </configuration>
        </economix_usersnap>
    </default>
</config>